*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -----------Navigation BAr-----  */

.nav-wrap .navbar {
    /* background-color: #054561; */
    /*background: linear-gradient(180deg, #003793 97%, #ffaf22 3%);*/
    /*background: linear-gradient(to right, rgb(0 0 0), #003793);*/
    background: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
/*.nav_Logo_w{*/
/*    background: linear-gradient(to right, rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 5));*/
/*}*/

.nav-item a {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    font-family: "Catamaran", sans-serif;
}
.nav-item a:hover{
    color: #1277b3;
}
.navbar-nav .nav-item .actYell {
    color:  rgb(247, 196, 67);
}

.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
}
.bus-drop .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}
.navbar-nav {
    margin: 0px 20px 0px auto;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    /* background: #ffffff9e; */
    background-color: rgb(247 243 243 / 100%);
    top: 40px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: var(--bs-dropdown-item-border-radius, 0);
}
.drpBus li a{
    color: rgb(9 64 87);
}
.bus-drop:hover .dropdown-menu {
    display: block;
}
.booking-nav p {
    font-weight: 600;
    /* font-size: 15pxsec 8; */
}
.ph-mail-nav a {
    text-decoration: none;
    padding: 5px;
    margin-left: 8px;
    color: #fff;
}
.ph-mail-nav a i{
    background-color: #1277b3;
    padding: 8px;
    border-radius: 50px;
    margin-right: 5px;
    font-size: 14px;
}
.ph-mail-nav span{
    font-size: 17px;
    color: #000;
    font-weight: 600;
    font-family: "Catamaran", sans-serif;
    transition:0.5s;
}
.ph-mail-nav span:hover{
    color:#1277b3;
}

/* ----------------Footer Part -----  */
/* -------------------FOOTER PART ----------------- */

.foot_sec{
    /* border: 2px solid; */
    /* margin-top: 20px; */
    /* background-color: #128fc3bf; */
    /* background: linear-gradient(to right, rgb(18, 143, 195,0.7),rgb(18, 143, 195,0.7)); */
    background-color: #181823;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.inner_foot h6{
    font-size: 20px;
}
.foot_1, .foot_2, .foot_3 p{
    color: white;
    font-size: 18px;
}
.foot_1 h6{
    /* border: 1px solid; */
    padding-bottom: 13px;
    position: relative;
    font-weight: bold;
    color:white;
    font-family: "Catamaran", sans-serif;
}
.foot_1 h6::before{
    content: '';
    border: 1px solid #1277b3;
    position: absolute;
    width: 18%;
    bottom: 0;
}
.foot_1 p{
    margin-top: 30px;
    font-size: 18px;
    font-family: "Catamaran", sans-serif;
}
.foot_2 a{
    line-height: 20px;
    color: white;
    text-decoration: none;
    transition:0.5s;
    
}
.foot_2 a:hover{
    color:#1277b3;
}
.foot_2 h6{
    /* border: 1px solid; */
    padding-bottom: 13px;
    position: relative;
    font-weight: bold;
    color:white;
    font-family: "Catamaran", sans-serif;
}
.foot_2 h6::before{
    content: '';
    border: 1px solid #1277b3;
    position: absolute;
    width: 18%;
    bottom: 0;
}
#foot2_txt{
    margin-top: 30px;
}
.foot_3 a{
    color: white;
    text-decoration: none;
    transition:0.5s;
}
.foot_3 a:hover{
    color:#1277b3;
}

.foot_3 h6{
    /* border: 1px solid; */
    padding-bottom: 13px;
    position: relative;
    font-weight: bold;
    color:white;
    font-family: "Catamaran", sans-serif;
}
.foot_3 h6::before{
    content: '';
    border: 1px solid #1277b3;
    position: absolute;
    width: 18%;
    bottom: 0;
}
#foot3_street{
    margin-top: 30px;
}
.foot_4_Inner{
    width: 80%;
    /* border: 2px solid; */
}
.foot_4_Inner_1{
    /* border: 2px solid; */
}
.foot_4_Inner_1 div img{
    width: 100%;
}
.foot_4_Inner_2 {
    /* margin-top: 100px; */
    padding-top: 20px;
}
.foot_4_Inner_2 div img{
    width: 100%;
}
.foot_4 h5{
    color: rgb(247, 196, 67);
    font-size: 25px;
    font-weight: bold;
    /* border: 2px solid; */
    max-width: 80%;
    text-align: center;
}
#ft_imgA img{
    border-top-left-radius: 20px;
}
#ft_imgB img{
    border-top-right-radius: 20px;
}
#ft_imgC img{
    border-bottom-left-radius: 20px;
}
#ft_imgD img{
    border-bottom-right-radius: 20px;
}

.foot_2ndSec{
    /* border: 2px solid; */
    background-image: linear-gradient(303deg, #ffffffba, #83b4ff);
}
.foot_2ndSec_inner{
    align-items: center;
}
.foot_2ndSec_A p{
    margin-top: 10px;
    font-weight: 600;
}
.foot_2ndSec_B{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5%;
}
.foot_2ndSec_B i{
    /* margin-top: 20px; */
    font-size: 20px;
}

.foot_2ndSec_A  p{
    margin-bottom:0 !important;
}









